<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbacks</key>
	<array>
		<string>features.websearch.duckduckgo.fallback</string>
		<string>features.websearch.twittersearch.fallback</string>
		<string>features.websearch.custom.004E6D0C-0527-4F1C-8C83-10E35E3C7E8E.fallback</string>
		<string>features.websearch.wiki.fallback</string>
		<string>features.websearch.custom.6B046BF3-E488-4EEA-AAE7-774C8A78BA58.fallback</string>
	</array>
	<key>fallbacksMode</key>
	<integer>1</integer>
	<key>showAppleScripts</key>
	<true/>
	<key>showArchives</key>
	<true/>
	<key>showDocuments</key>
	<true/>
	<key>showFolders</key>
	<true/>
	<key>showImages</key>
	<true/>
	<key>showTextFiles</key>
	<true/>
</dict>
</plist>
